[submodule "PA2/thirdparty/dearimgui"]
	path = PA2/thirdparty/dearimgui
	url = https://github.com/ocornut/imgui.git
[submodule "PA8/thirdparty/reactphysics3d"]
	path = PA8/thirdparty/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "PA8/thirdparty/quickhull"]
	path = PA8/thirdparty/quickhull
	url = https://github.com/akuukka/quickhull.git
[submodule "PA11/thirdparty/FastNoise2"]
	path = PA11/thirdparty/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "PA11/thirdparty/Compute-Shaders"]
	path = PA11/thirdparty/Compute-Shaders
	url = https://github.com/jdbener/Compute-Shaders.git
[submodule "PA11/thirdparty/v-hacd"]
	path = PA11/thirdparty/v-hacd
	url = https://github.com/kmammou/v-hacd.git
